table {
    border-collapse: collapse;
    border: 1px solid black;
  } 
  
  th,td {
    border: 1px solid black;
  }
  
  table.d {
    table-layout: fixed;
    width: 100%;  
  }
  .image-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 32px;
    height: 32px;
  }
  h1{
    color:darkgreen;
  }